/* DIRETTIVE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}


/* DIRETTIVE GENERALI HEADER */
header{
    justify-content: center;
    align-items: center;
    background-image: url("./../img/wall.png");
    height: 15vh;
}

/* DIRETTIVE PER TUTTI I TITOLI */
.titolo{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 20px;
}

/* DIRETTIVE TITOLO HEADER */
header .titolo{
    font-weight: bolder;
    font-size: 70px;
}


/* DIRETTIVE GENERALI MAIN */
main{
    padding-top: 3%;
    background-image: url("./../img/cork.png");
}


.foto{
    height: 300px;
    width: 300px;
}

/* DIRETTIVE SINGOLE CARD */
.card{
    justify-content: center;
    align-items: center;
    height: 45%;
    margin-right: 1%;
    margin-bottom: 2%;
}

/* DIRETTIVE PER LA PUNTINA */
.pin{
    position: absolute;
    top: -15px;
    z-index: 9999;
}

/* DIRETTIVE PER FOTO */
.foto{
    width: 100%;
    padding: 3.5%;
}

.foto:hover{
    cursor:grab ;
}

/* DIRETTIVE PER DATE */
.date{
    font-family: 'Sometype Mono' , monospace;
    font-size: 15px;
}


#blackbackground{
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999999999;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#fotooverlay{
    height: 600px;
    width: 600px;
}

button{
    margin-bottom: 3%;
}